.bg-dark{
    font-family: Arial, Helvetica, sans-serif;
}
footer>div>h2{
    color: white; 
    font-size: 50px;   
}
footer>div>i>.fa {
    width: 40px;
    color:  #828282;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    background-color: black;
    border-radius: 50%;
    padding-right: 15px;
}
footer>div>i>.fa:hover { 
    color: #fff;
    background-color: #212121;
    border: 1px solid black;
}
    .footerEnd{
        background-color: #212121;
        color: #828282;
        text-align: center;
}
.footerEnd> div> p{
    margin-top: 100px;
    border-top: 1px solid #828282; 
    padding-top: 20px;
    font-size: 20px;
}