*{
    margin: 0;
}
body {
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
    header {
        background-image: url(../img/home.jpg);
        background-position: center;
        height: 100vh;
        width: 100%;
    }
        .navigation-bar {
            display: block;
            border-bottom: 1px solid rgba(128, 128, 128, 0.438);
            width: 100%;
            position: fixed;
            background-color: none;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
            transition: all 0.5s;
            z-index: 1;
        }
        .navigation-bar.active {
            background-color: white;
            transition: all 0.5s;
        }
            nav > ul > li,a {
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 600;
                font-size: 16px;
                color: white;
                text-decoration: none;
                display: inline;
                line-height: 32px;
            }
            nav > ul > li, a.active {

                color: black;

            }
            .martinText {
                font-size: 23px;
                font-weight: 600;
                line-height: 32px;
                color: #ffffff;
                display: inline-block;
                text-transform: uppercase;    
            }
            .martinText.active {
                font-size: 23px;
                font-weight: 600;
                line-height: 32px;
                color: #f34236;
                display: inline-block;
                text-transform: uppercase; 
                
            }
            nav {
                width: 100%;  
                display: inline-block;
                             
            }
            .navigation-bar.container {
               padding: 15px
            }

    .hero{
        margin-top: 150px;
    }        
    .hero > div > h1 {
        color: white;
        font-size: 60px;
        font-weight: 300;
    }
    .hero > div > h2 {
        color :white;
        font-size: 100px;
        letter-spacing: 2px;
        max-width: 100%;
    }
    .hero > div > p {
        color: white;
        margin: 0;
        font-size: 15px;
        font-weight: 300;
        letter-spacing: 1px;
    }
        .letsTalkBTN {   
            color: #ffffff;
            border-color: #f34236;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            background-color: #f34236;
            padding: 15px 34px;
            border-radius: 2px;
        }
        .letsTalkBTN:hover {   
            color: #ffffff;
            border-color: #111111;
            box-shadow: 0px 8px 15px rgba(221, 50, 50, 0.397);
            background-color: #111111;
            padding: 15px 34px;
            border-radius: 2px;
        }
        .talk {
            margin-top: 30px;
        }
        .col-12.row.talk {
            margin-top: 30px;
        }

        li > a {
            padding: 0px 10px;
            display: inline-block;     
        }

        .hoverEffect::after {
            content: '';
            display: block;
            width: 0;
            height: 3px;
            background-color: white;
            transition: width .3s;
        }
        .hoverEffect.active::after {
            content: '';
            display: block;
            width: 0;
            height: 3px;
            background-color: #f34236;
            transition: width .3s;
        }
        .hoverEffect:hover::after {
            width: 100%;
            transition: width .3s;
        }
        .toggleMenu{
            font-size: 30px;
            background-color: #f34236;
            padding: 0px 10px;
            display: none;
            float: right;
            cursor: pointer;
        }
        #toggle{
            display: none;
            
        }
        
        
@media (max-width: 1200px) {
    .toggleMenu{
        display: inline-block;
    }
    .navButton {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 20px;
        color: white;
        text-decoration: none;
        line-height: 50px;
        display: block;
    }
    nav > ul {
        float: left;
        display: none;
    }
    .navigation-bar {
        background-color: none;
    }
    .martinText.active {
        color: #f34236;
    }
    .martinText{
        color: white;
    }
    .hoverEffect::after{
        background-color: #f34236;
    }

    #toggle:checked + ul {
        display: block;
    }
    #toggle:checked  {
        background-color: white;  
    } 
}


