
.bg-light > div > div > h1{
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 5px;
}
.bg-light > div > div > h1 > span {
    color: #f34236;
}
.servicesLine {
        width: 50px;
        border-bottom: 3px solid black;
        display: inline-block;
        margin-bottom: 40px;
}

.servicesInfo {
    background: #ffffff;
    font-weight: 400px;
    border-radius: 5px;
    padding: 20px;
    border: 5px solid white;
    box-shadow: 0px 5px 10px #3b3a3a33;
    cursor: pointer;
}

#servisInfoCol{
    margin-top: 30px;
}

.servicesInfo:hover {
    background-color: #ffffff;
    border: 5px solid #f34236;
    transition: all 1s;
}

div > div > div > div> i > .fa{
    color: #f34236;
    text-align: center;
    background-color: #ffffff;
    font-size: 50px;
    margin: 20px 20px;
    padding-left: 10px;
}

.servicesInfo > h3{
       color: black;
       font-size: 20px;
       display: inline-block;
       margin-top: 10px;
}

.servicesInfo > p {
     color: rgb(130, 130, 130);
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        display: inline-block;
        text-align: center;
        margin-top: 15px;
}